*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.create{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,.8)), url('../../images/events3.jpg');
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.create-h1{
    text-align: center;
    margin-top: 150px;
    color: white;
}

.create-sec{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    justify-content: center;
    /* align-items: center; */
}

.create-card1{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    margin: 15px;
}

.create-card2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    margin: 15px;
}

#btn{
    background-color: white;
    display: block;
    margin: auto;
    height: 50px;
    padding: 0px 30px;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: medium;
}

#btn:hover{
    background-color: #f1f1f1;
}

.create-inp{
    background-color: rgba(255,255,255,0.3);
    color: white;
    width: 25vw;
    height: 25px;
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    padding-left: 14px;
}
::-webkit-input-placeholder {
       color: white;
    }
    :-moz-placeholder { /* Upto Firefox 18, Deprecated in Firefox 19  */
       color: white;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: white;  
    }
    :-ms-input-placeholder {  
       color: white;  
    }