.login{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.7)),url(./../../images/event.webp);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
input:focus {
    outline: none;

}
.login-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin: 30px;
}

.login-welcome h1{
    font-size: 5vw;
    color: white;
    /* margin-top: -30px; */
}

.login-welcome p{
    color: white;
    margin: 50px;
    margin-top: 10px;
    text-align: justify;
}

.login-forms{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_head{
    color: white;
    text-align: center;
}


.login-inp{
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 20px;
    width: 25vw;
    background-color: rgba(255,255,255,.3);
    padding: 10px;
    border-radius: 10px;
}

#login_button{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 25vw;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    cursor:pointer;
}
#login_button:active {
  
    transform: translateY(1px); /* Slight downward shift for a pressed effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
  }

#signup_link{
    margin-left: 20px;
    color:red;
    text-decoration: underline;
}
#signup_link:hover{
    text-decoration: underline;
    font-weight:100;
}