.nav {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 15px;
    margin-left:-20px;
    z-index: 1;
    justify-content: end;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black {
    background-color: #111;
    top:0;
    margin-top: 0px;
    height:50px;
}
.nav_logo {
    position: fixed;
    left: 20px;
    top:3px;
    width: 80px;
    object-fit: contain;
}

a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    background-color: transparent;
    letter-spacing: 0!important;
}

a:hover{
    text-decoration: none;
    font-weight: 520;
    background-color: transparent;
    color:grey;
}